<!DOCTYPE html>
<html lang="en" ng-app="IpApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Network tools</title>

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/style.css">
</head>
<body ng-controller="IPAddressController">
    <div class="container">
        <h1>Network tools</h1>

        <form class="form-inline" role="form">
            <label class="sr-only" for="id_domain">Domain</label>
            <input class="form-control input-lg" type="text" id="id_domain" ng-model="query" autofocus placeholder="Enter domain name">

            <button type="submit" ng-click="search()" class="btn btn-success input-lg">
                <span class="glyphicon glyphicon-search"></span></button>
        </form>

        <div class="table-responsive" ng-if="results.length > 0">
            <hr>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Domain</td> <td>IP address</td> <td>Continent</td> <td>Country</td> <td>Timezone</td> <td>Location</td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="result in results" class="{{ result.status }}">
                        <td> {{ result.query }}</td>
                        <td ng-if="result.status == 'danger'" colspan="5" class="text-center">ERROR!</td>
                        <td ng-if="result.status != 'danger'"> {{ result.ip }}</td>
                        <td ng-if="result.status != 'danger'"> {{ result.continent }}</td>
                        <td ng-if="result.status != 'danger'"> {{ result.country }}</td>
                        <td ng-if="result.status != 'danger'"> {{ result.timezone }}</td>
                        <td ng-if="result.status != 'danger'">
                            <a href="http://mapscrumbs.com/point?lat={{ result.location[0] }}&lng={{ result.location[1] }}">{{ result.location }}</a></td>
                        <td>
                            <span class="glyphicon glyphicon-remove" style="color: red" ng-click="remove(result)"></span>

                            <span class="glyphicon glyphicon-star-empty"
                                ng-click="toggleStar(result)" ng-if="!result.starred"></span>
                            <span class="glyphicon glyphicon-star" style="color: gold"
                                ng-click="toggleStar(result)" ng-if="result.starred"></span>

                            <span class="glyphicon glyphicon-resize-full" style="color: blue"
                                ng-click="toggleDetails(result)" ng-if="!result.detailsVisible"></span>
                            <span class="glyphicon glyphicon-resize-small" style="color: blue"
                                ng-click="toggleDetails(result)" ng-if="result.detailsVisible"></span>
                        </td>
                    </tr>
                    <tr class="active" ng-repeat-end ng-if="result.detailsVisible">
                        <td colspan="7">
                            <code>
                                <span ng-repeat="(key, value) in result.details"><strong>{{ key }}</strong>: {{ value }} <br> </span>
                            </code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script>
        var IpApp = angular.module('IpApp', []);
        IpApp.controller('IPAddressController', function ($scope, $http) {
            $scope.results = [];

            $scope.search = function () {
                $scope.add($scope.query);
            }

            $scope.add = function (query) {
                $http.get('/get-data/' + query, {}).
                    success(function (data, status) {
                        data.id = $scope.results.length;
                        data.starred = false;
                        data.detailsVisible = false;
                        data.details = null;

                        $scope.results.unshift(data);
                    }).
                    error(function (data, status) {
                        console.log(data, status);
                    });
            }

            $scope.remove = function (res) {
                $scope.results.splice($scope.results.indexOf(res), 1);
            }

            $scope.toggleStar = function (res) {
                res.starred = !res.starred;
            }
            $scope.toggleDetails = function (res) {
                if (res.details === null) {
                    $http.get('/get-http-headers/' + res.query, {}).success(
                        function (data, status) {
                            res.detailsVisible = !res.detailsVisible;
                            res.details = data;
                        });
                } else {
                    res.detailsVisible = !res.detailsVisible;
                }
            }
        });
    </script>
</body>
</html>
